* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
}
.wrapper {
    height: 100vh;
    display: flex;
    background-image:  linear-gradient(to right, #00AAFF, #00FF6C);
}
.memory-game {
    margin: auto;
    width: 650px;
    height: 650px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   perspective: 1000px;
}
.memory-card{
width: /*calc(25% - 10px)*/25%;
height: /*calc(33.33% - 10px)*/33.33%;
margin: 5px;
transform: scale(1);
position: relative;
transition: transform 0.5s;
transform-style: preserve-3d;
}
.memory-card:active {
    transform: scale(0.97);
    transition: 0.2s;
    
}
.memory-card.flip{
transform: rotateY(180deg);
}
.front-face, .back-face {
  width: 100%; 
  height: 100%; 
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background-color: beige;
  backface-visibility: hidden;
}
.back-face{
    transform: rotateY(180deg) ;
    background: blue;
}
